In [ ]:
# Let's learn about the print statements
print("Let's learn python for Machine Learning")

Let's learn python for Machine Learning

In [ ]:
# let's create two variables and print them
x=16
y="Arman"
print(x)
print(y)

16
Arman

In [ ]:
#let's print the statement with string formatting
print(f"{y} is {x} years old.")

Arman is 16 years old.

In [ ]:
# Using format method
print("{} is {} years old." .format(y,x))

Arman is 16 years old.

In [ ]:
# Using Concatenation method.
print(y + "is " + str(x) + " years old.")

Armanis 16 years old.

In [ ]:
# Using older % string formatting method
print("%s is %d years old." %(y,x))

Arman is 16 years old.

In [ ]:
x

16

In [ ]:
y

'Arman'

2. Data Types


> Numbers

In [ ]:
# working with numbers
x = 20
y = 10
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)

30
10
200
2.0
0
10240000000000

In [ ]:
print(f"The addition of x and y is {x+y}.")
print(f"The subtraction of x and y is {x-y}.")
print(f"The multiplication of x and y is {x*y}.")
print(f"The division of x and y is {x/y}.")
print(f"The reminder of x and y is {y%x}.")

The addition of x and y is 30.
The subtraction of x and y is 10.
The multiplication of x and y is 200.
The division of x and y is 2.0.
The reminder of x and y is 10.


2.2. string

In [ ]:

# working with single quoted string
single_quoted_string = 'python is awesome !'
print("single_quoted_string =", single_quoted_string)

single_quoted_string = python is awesome !

In [ ]:
# Working with double quoted string
double_quoted_string = "I am learning python !"
print("double_quoted_string =", double_quoted_string)

double_quoted_string = I am learning python !

In [ ]:

#string Concatentation
Concatenation_string = single_quoted_string + '.' + double_quoted_string
print("Concatenation_string =", Concatenation_string)

Concatenation_string = python is awesome !.I am learning python !

In [ ]:
#String Methods
uppercase_string = Concatenation_string.upper()
print(uppercase_string )
lowercase_string = uppercase_string.lower()
print(lowercase_string)

PYTHON IS AWESOME !.I AM LEARNING PYTHON !
python is awesome !.i am learning python !

In [ ]:
#string Slicing examples
word = "sunderland University"
slice_word = word[4:10]
print(slice_word)

erland

In [ ]:
# Remove leading and trailing spaces
word_space = "sunderland University"
print(word_space)
remove_space = word_space.strip()
print(remove_space)

sunderland University
sunderland University

In [ ]:
word_list = {"linux","kali","is","used","for","learning"}
sentence = " ".join(word_list)
print(sentence)

linux is kali used for learning

In [ ]:
word_list = {"linux","kali","is","used","for","learning"}
print ("word list id :" ,word_list)
sentence = " ".join(word_list)
print("complete Sentence is:", sentence)

word list id : {'linux', 'is', 'kali', 'used', 'for', 'learning'}
complete Sentence is: linux is kali used for learning

In [ ]:
# Replace the word in sentence
replaced_string = sentence.replace("learning","programming")
print("Replaced String:", replaced_string)

Replaced String: linux is kali used for programming

In [ ]:
word_list = "hello, word"
replaced_string = word_list.replace("hello","hi")
print("Replaced String:", replaced_string)

Replaced String: hi, word

In [ ]:
# find a word in a sentence
word = "python is awesome"
index = word.find("is")
print("Index of course:",index)

Index of course: 7

2.3 List

In [ ]:
# creating a List
fav_movie = ["Adi purush", "The Godfather","Animal", "The Dark Knight"]
print(fav_movie)

['Adi purush', 'The Godfather', 'Animal', 'The Dark Knight']

In [ ]:
# Accessing the element of List
print("Pramit Fav Movie is:", fav_movie[0])
print(fav_movie[1])
print("Bata Fav Movie is:", fav_movie[-1])

Pramit Fav Movie is: Adi purush
The Godfather
Bata Fav Movie is: The Dark Knight

In [ ]:
# Find the length of list
print("The Length of String is:", len(fav_movie))

The Length of String is: 4

In [ ]:
# List can contain hetrogeneous data types
List1 = {"apple", "banana", "cherry"}
List2 = [1, 5, 7, 9, 3]
List3 = [True, False, False]
list4 = ["abc", 34, True, 5, "cherry"]
print(List1)
print(List2)
print(List3)
print(list4)

{'banana', 'apple', 'cherry'}
[1, 5, 7, 9, 3]
[True, False, False]
['abc', 34, True, 5, 'cherry']

In [ ]:
# Let's find the types of data types
print(type(List1))

<class 'set'>

In [ ]:
# Nested List
nested_list = ["apple piece", "Lord of banana", ["cherry", "orange"], "mango"]
print(nested_list)
print ("Imdb rating lor:", nested_list[2][1])

['apple piece', 'Lord of banana', ['cherry', 'orange'], 'mango']
Imdb rating lor: orange

2.4 Disctionary

In [ ]:
# Creating a disctionary
student = {
  "name": "Bigen",
  "'Department": "Bsc.IT",
  "year": 2024
}
print(student)

{'name': 'Bigen', "'Department": 'Bsc.IT', 'year': 2024}

In [ ]:
# Accessing the disctionary items
print("student's Name:", student["name"])

student's Name: Bigen

In [ ]:
# Adding a new element
student[  "Semester"] = "8th"
# Print the disctionary as a string
print(repr( student))

{'name': 'Bigen', "'Department": 'Bsc.IT', 'year': 2024, 'Semester': '8th'}

In [ ]:
# Modifing an existing item
student["year"] = 2023
print(repr(student))

{'name': 'Bigen', "'Department": 'Bsc.IT', 'year': 2023, 'Semester': '8th'}

In [ ]:
# Deleting a elements if it existing
if "Semester" in student:
  del student["Semester"]
print(student)

{'name': 'Bigen', "'Department": 'Bsc.IT', 'year': 2023}

In [ ]:
#Write a Python program that prints your name to the con
print("My name is")

My name is

In [ ]:
#Create a Python script that takes two numbers as input from the user and prints their sum.
x = 20
y = 10
print(x+y)

30

In [ ]:
#Write a Python program to calculate the area of a circle with a given radius.
r = 20
print(3.14*r*r)

1256.0

In [ ]:
car_dict = dict(name="Ford", model="Mustang", year=1964)
print(repr( car_dict))

{'name': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# Boolean: Let's learn Boolean
print("/nExample 1: Comparing Values:")
print("Is 100 is smaller than 200? ",100 < 200)
print("Is 50 is equal to 100?", 50==100)

/nExample 1: Comparing Values:
Is 100 is smaller than 200?  True
Is 50 is equal to 100? False

In [ ]:
# Example 2 : Find the greatest number among two
x=50
y=100
if x>y:
  print(f"{x} is greater than {y}.")
else:
  print(f"{y} is greater than {x}.")

100 is greater than 50.

In [ ]:
#Evaluating values and variables
print("Is 'Hello' True?",bool("Hello"))
x="hii"
y=25
print("Is x True?",bool(x))
print("Is y True?",bool(y))

Is 'Hello' True? True
Is x True? True
Is y True? True

In [ ]:
# Let's practice function that returns boolean
def is_even(x):
   return num % 2 == 0
   print("Is 20 is even?",is_even(20))
   print("Is 30 is even?",is_even(30))

In [ ]:
# Tuples: Let's learn about tuples
fav_movie = ("The Shawshank Redemption", "The Godfather", "The Dark Knight")
print(fav_movie)

('The Shawshank Redemption', 'The Godfather', 'The Dark Knight')

In [ ]:
# Accessing the fav movie
print("pramit fav mlovie is", fav_movie[0])
print("shyam fav movie is", fav_movie[-1])

pramit fav mlovie is The Shawshank Redemption
shyam fav movie is The Dark Knight

In [ ]:
x,y,z = fav_movie
print("seprate Movie:", x,y,z)

seprate Movie: The Shawshank Redemption The Godfather The Dark Knight

In [ ]:
for movie in fav_movie:
  print(movie)

The Shawshank Redemption
The Godfather
The Dark Knight

In [ ]:
# joining the two tupples
first_tuple = ("apple", "banana", "cherry")
second_tuple = (1, 5, 7, 9, 3)
joioned = first_tuple + second_tuple
print(joioned)
print(first_tuple + second_tuple)

('apple', 'banana', 'cherry', 1, 5, 7, 9, 3)
('apple', 'banana', 'cherry', 1, 5, 7, 9, 3)

In [ ]:
# Sets: Let's learn about sets
my_set = {"apple", "banana", "cherry"}
print(my_set)

{'apple', 'banana', 'cherry'}

In [ ]:
# Adding a new fruit to our set
my_set.add("orange")
print(my_set)

{'apple', 'banana', 'orange', 'cherry'}

In [ ]:
#updating our sets
my_set.update(["mango", "grapes"])
print(my_set)

{'banana', 'mango', 'cherry', 'grapes', 'apple', 'orange'}

In [ ]:
# remove the fruits from sets
my_set.remove("banana")
print(my_set)

{'mango', 'cherry', 'grapes', 'apple', 'orange'}

In [ ]:
#  Conditional statements
#b Finding the greatest number among three
a=10
b=20
c=30
if a>=b and a>=c:
  print(f"{a} is greatest number")
elif b>=a and b>=c:
  print(f"{b} is greatest number")
else:
  print(f"{c} is greatest number")

30 is greatest number

In [ ]:
# Leap Year
year = 2024
if (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0):
  print( "a leap year")

a leap year

In [ ]:
# Determining the season based on the month
month  = "may"
if month in ("march", "april", "may"):
  print("spring")
elif month in ("june", "july", "august"):
  print("summer")

spring

In [ ]:
# Write a Python script that prints a welcome message along with the current date and time.
# Print a welcome message with the current date and time
import datetime
print("Welcome! Today's date and time is:", datetime.datetime.now())

Welcome! Today's date and time is: 2024-05-14 01:22:52.957465

In [ ]:
# Print a series of numbers from 1 to 10, each on a new line.
# Print numbers from 1 to 10
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Create variables to store the following information: name (string), age (integer), height (float), and is_student (boolean).
# Creating variables of different data types
name = "John"
age = 25
height = 6.1
is_student = True

In [ ]:
# Convert a string variable containing a numerical value to an integer or float data type.
# Converting string variable to integer or float
str_num = "10"
int_num = int(str_num)
float_num = float(str_num)

In [ ]:
# Convert an integer variable to a string data type.
# Converting integer variable to string
int_value = 123
str_value = str(int_value)

In [ ]:
# Perform arithmetic operations (addition, subtraction, multiplication, division) on numerical variables.
import math

# Arithmetic operations
result_add = 5 + 3
result_sub = 7 - 2
result_mul = 4 * 6
result_div = 10 / 2

In [ ]:
# Calculate the square root of a number.
# Square root
sqrt_value = math.sqrt(25)
print(sqrt_value)

5.0

In [ ]:
# Use the math module to perform more advanced mathematical operations like calculating logarithms or trigonometric functions.
import math

# Calculate the natural logarithm (base e) of a number
x = 10
log_value = math.log(x)
print("Natural logarithm of", x, ":", log_value)

# Calculate the logarithm of a number with a specified base (e.g., base 10)
log_base_10 = math.log10(x)
print("Logarithm base 10 of", x, ":", log_base_10)

# Calculate the logarithm of a number with a specified base (e.g., base 2)
log_base_2 = math.log2(x)
print("Logarithm base 2 of", x, ":", log_base_2)

# Calculate trigonometric functions (sine, cosine, tangent) in radians
angle_radians = math.radians(45)  # Convert angle from degrees to radians
sin_value = math.sin(angle_radians)
cos_value = math.cos(angle_radians)
tan_value = math.tan(angle_radians)
print("Sine of 45 degrees:", sin_value)
print("Cosine of 45 degrees:", cos_value)
print("Tangent of 45 degrees:", tan_value)

Natural logarithm of 10 : 2.302585092994046
Logarithm base 10 of 10 : 1.0
Logarithm base 2 of 10 : 3.321928094887362
Sine of 45 degrees: 0.7071067811865475
Cosine of 45 degrees: 0.7071067811865476
Tangent of 45 degrees: 0.9999999999999999

In [ ]:
# While loop to calculate factorial
num = int(input("Enter a number: "))
factorial = 1
while num > 0:
    factorial *= num
    num -= 1
print("Factorial:", factorial)

Enter a number: 2
Factorial: 2

In [ ]:
#Loops: Let's lwearn
multiple_of_five = [5,10,15,20,25]
print("\nmultiple_of_five")
for num in multiple_of_five:
  print(num)

multiple_of_five
5
10
15
20
25

In [ ]:
# let's work with string
string = "Hi i am Learning Python"
for char in string:
  print(char)

H
i

i

a
m

L
e
a
r
n
i
n
g

P
y
t
h
o
n

In [ ]:
#Let's range
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Even number from 1 to 10
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [ ]:
# Odd number from 1 to 10
for i in range(1, 11, 2):
  for i in range (20,11,2):
    print(i)

In [ ]:
# Odd number from 1 to 10
for i in range(1, 11, 2):
  for i in range (20,11,2):
    print(i)

In [ ]:
# lety's use dictionary
fav_movie = {
    "name": "The Shawshank Redemption",
    "year": 1994,
    "director": "Frank Darabont"
}
for key, value in fav_movie.items():
    print(key, ":", value)

name : The Shawshank Redemption
year : 1994
director : Frank Darabont

In [ ]:
# Let's learn loop with tuple
fruits = (("apple",10), ("banana",10), ("cherry",10))
print("\nElements of fruits Tuple")
for item in fruits:
  print(item)

Elements of fruits Tuple
('apple', 10)
('banana', 10)
('cherry', 10)

In [ ]:
# Let's seprate each element from tuple fruits:
for char, num in fruits:
  print("Character:", char, "| Quantity:", num)

Character: apple | Quantity: 10
Character: banana | Quantity: 10
Character: cherry | Quantity: 10

In [ ]:
# Let's learn while loop
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [ ]:
# Find the sum of number 1-10 using  ehile loops
sum = 0
num = 1
while num <= 10:
    sum += num
    num += 1
print("\nThe sum of number from 1-10 is:", sum)

The sum of number from 1-10 is: 55

In [ ]:
# Find the sum of number from 1 to 10 evenm number only
sum = 0
num = 1
while num <= 10:
    if num % 2 == 0:
        sum += num
    num += 1
print("\nThe sum of even number from 1-10 is:", sum)

The sum of even number from 1-10 is: 30

In [ ]:
# Find the even number from 1 to 10 using while loop
num = 1
while num <= 10:
    if num % 2 == 0:
        print(num)
    num += 1

2
4
6
8
10

In [ ]:
# Find the odd number from 1 to 10 using while loop
num = 1
while num <= 10:
    if num % 2 != 0:
        print(num)
    num += 1

1
3
5
7
9

In [ ]:
# Find the factorial of 5 using while loop
num = 5
factorial = 5
while num >= 1:
    factorial *= num
    num += 1
print("\nThe factorial of 5 is:", factorial)

In [ ]:
# Find the factorial of 5 using while loop
num = 5
factorial = 5
while num >= 1:
    factorial *= num
    num += 1
print("\nThe factorial of 5 is:", factorial)

In [ ]:
# Find the factorial of 5 using while loop
number = 5
factorial = 1
while number >= 0:
    factorial *= number
    number += 1
print("\nThe factorial of 5 is:", factorial)

In [ ]:
# Find the factorial of 5 using while loop
number = 5
factorial = 1
while number >= 0:
    factorial *= number
    number += 1
print("\nThe factorial of 5 is:", factorial)

KeyboardInterrupt:

In [ ]:
# Reverse the sting using while loop
string = "Flimy"
reversed_string = ""
while len(string) > 0:
    reversed_string += string[-1]
    string = string[:-1]
print("\nThe reversed string is:", reversed_string)

The reversed string is: ymilF

In [ ]:
# Function
def greet():
  print("Hello, World!")
greet()

Hello, World!

In [ ]:
# Functions with parameters
def greet(name):
  print("Hello",  name)
greet("Alice")
greet("Bata")

Hello Alice
Hello Bata

In [ ]:
#function with return value
def square(a):
  return a ** 2
  result = square(5)
print(result)

NameError: name 'result' is not defined

In [ ]:
# Function with defult parameter value
def greet_with_default(name="World"):
  print("Hello", name)
greet_with_default
greet_with_default(name="Alice")

Hello Alice

In [ ]:
#function with multiple values Find the min and max number
def min_max(numbers):
  return min(numbers), max(numbers)
  num = [1, 2, 3, 4, 5]